<div class="w-full dark:text-white space-y-5 pb-5">
  <h1 class="m-5 text-xl xs:text-2xl sm:text-3xl font-bold text-stone-600 dark:text-stone-200">
      Belongings Players Stats
  </h1>
  <div class="m-2 sm:m-5 bg-white dark:bg-darkbg p-5 rounded-3xl">
    <!-- stats -->
    <div class="w-full flex [&>*]:grow [&>*]:shrink-0 md:grid overflow-x-scroll sm:overflow-x-auto grid-cols-4 justify-items-stretch md:grid-cols-2 gap-10">
      <div *ngFor="
      let stat of [{title:'goals', values: playerStats.mostGoals}, {title:'passes', values:playerStats.mostPasses}, {title:'assists', values: playerStats.mostAssists}, {title:'Tackles', values: playerStats.mostTackles}]
      index as i" class="flex flex-col">
        <h1 class="text-lg">{{stat.title}}</h1>
        <div class="flex flex-col divide-y divide-stone-300">
          <div
            *ngFor="
              let player of stat.values;
              index as i
            "
            class="p-2 text-blue-500 dark:text-white flex justify-between items-center gap-6"
          >
            <div class="flex items-center gap-3">
              <span class="text-sm font-bold">{{ i + 1 }}</span>
              <div class="flex items-center gap-3">
                <img [src]="player.team.logo" [alt]="player.team.name" class="h-7 w-7" />
                <div class="flex flex-col">
                  <p class="text-sm sm:text-base font-semibold">{{player.name}}</p>
                  <p class="text-xs text-stone-500">{{player.team.name}}</p>
                </div>
              </div>
            </div>
            <span class="font-bold text-stone-500">{{player.value}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 class="m-5 text-xl xs:text-2xl sm:text-3xl font-bold text-stone-600 dark:text-stone-200">
    Belongings Teams Stats
  </h1>
  <!-- TEAMS -->
  <div class="m-2 sm:m-5 bg-white dark:bg-darkbg p-5 rounded-3xl">
    <!-- Team stats -->
    <div class="w-full flex [&>*]:grow [&>*]:shrink-0 md:grid overflow-x-scroll sm:overflow-x-auto grid-cols-4 justify-items-stretch md:grid-cols-2 gap-10">
      <div *ngFor="
      let stat of [{title:'Corners', values: teamStats.mostCorners}, {title:'Shots on Target', values:teamStats.mostShotsOnTarget}, {title:'Shots', values: teamStats.mostShots}, {title:'Free Kicks', values: teamStats.mostFreeKicks}]
      index as i" class="flex flex-col">
        <h1 class="text-lg">{{stat.title}}</h1>
        <div class="flex flex-col divide-y divide-stone-300">
          <div
            *ngFor="
              let team of stat.values;
              index as i
            "
            class="p-2 text-blue-500 dark:text-white flex justify-between items-center gap-6"
          >
            <div class="flex items-center gap-3">
              <span class="text-sm font-bold">{{ i + 1 }}</span>
              <div class="flex items-center gap-3">
                <img [src]="team.image" [alt]="team.name" class="h-7 w-7" />
                <div class="flex flex-col">
                  <p class="text-sm sm:text-base font-semibold">{{team.name}}</p>
                  <p class="text-xs text-stone-500">{{team.stadium}}</p>
                </div>
              </div>
            </div>
            <span class="font-bold text-stone-500">{{ team.value }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
