<div class="w-full dark:text-white space-y-5 pb-5">
  <h1 class="m-5 text-xl xs:text-2xl sm:text-3xl font-bold text-stone-600 dark:text-stone-200">
      Belongings Players Stats
  </h1>
  <div class="m-2 sm:m-5 bg-white dark:bg-darkbg p-5 rounded-3xl">
    <!-- stats -->
    <div class="w-full flex [&>*]:grow [&>*]:shrink-0 md:grid overflow-x-scroll sm:overflow-x-auto grid-cols-4 justify-items-stretch md:grid-cols-2 gap-10">
      <div *ngFor="
      let stat of ['goals', 'passes', 'assists', 'clean sheets']
      index as i" class="flex flex-col">
        <h1 class="text-lg">{{stat}}</h1>
        <div class="flex flex-col divide-y divide-stone-300">
          <div
            *ngFor="
              let item of [43, 40, 35, 30, 29, 27, 26, 25, 23, 20];
              index as i
            "
            class="p-2 text-blue-500 dark:text-white flex justify-between items-center gap-6"
          >
            <div class="flex items-center gap-3">
              <span class="text-sm font-bold">{{ i + 1 }}</span>
              <div class="flex items-center gap-3">
                <img src="assets/svgs/Frame.png" alt="team" class="h-7 w-7" />
                <div class="flex flex-col">
                  <p class="text-sm sm:text-base font-semibold">Erling Halland</p>
                  <p class="text-xs text-stone-500">Man City</p>
                </div>
              </div>
            </div>
            <span class="font-bold text-stone-500">{{ item }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 class="m-5 text-xl xs:text-2xl sm:text-3xl font-bold text-stone-600 dark:text-stone-200">
    Belongings Teams Stats
  </h1>
  <!-- TEAMS -->
  <div class="m-2 sm:m-5 bg-white dark:bg-darkbg p-5 rounded-3xl">
    <!-- Team stats -->
    <div class="w-full flex [&>*]:grow [&>*]:shrink-0 md:grid overflow-x-scroll sm:overflow-x-auto grid-cols-4 justify-items-stretch md:grid-cols-2 gap-10">
      <div *ngFor="
      let stat of ['goals', 'passes', 'assists', 'clean sheets']
      index as i" class="flex flex-col">
        <h1 class="text-lg">{{stat}}</h1>
        <div class="flex flex-col divide-y divide-stone-300">
          <div
            *ngFor="
              let item of [43, 40, 35, 30, 29, 27, 26, 25, 23, 20];
              index as i
            "
            class="p-2 text-blue-500 dark:text-white flex justify-between items-center gap-6"
          >
            <div class="flex items-center gap-3">
              <span class="text-sm font-bold">{{ i + 1 }}</span>
              <div class="flex items-center gap-3">
                <img src="assets/svgs/Frame.png" alt="team" class="h-7 w-7" />
                <div class="flex flex-col">
                  <p class="text-sm sm:text-base font-semibold">Thunders</p>
                  <p class="text-xs text-stone-500">nyabihu stadium</p>
                </div>
              </div>
            </div>
            <span class="font-bold text-stone-500">{{ item }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
