<div class="w-full dark:text-white">
    <div class="m-5 bg-white dark:bg-darkbg p-5 rounded-3xl space-y-10">
        <h1 class="text-xl xs:text-2xl sm:text-3xl font-bold text-stone-600 dark:text-stone-200">
            Belongings players
          </h1>
    <div class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-5">
        <div *ngFor="let player of players" class="transition-all hover:bg-neutral-100 dark:hover:bg-transparent rounded-md space-y-4 cursor-pointer duration-300 dark:opacity-70 dark:hover:opacity-100 group border flex flex-col p-3 border-stone-400 hover:border-stone-300 dark:border-stone-500 dark:hover:border-stone-300">
            <div class="w-full overflow-hidden">
                <img [src]="player.image" [alt]="player.name" class="w-full">
            </div>
            <div class="">
                <h1 class="text-sm sm:text-xl font-bold">{{player.name}}</h1>
                <h1 class="text-sm sm:text-base">{{player.position}}</h1>
            </div>
            <div class="w-full flex items-center gap-2">
                <img [src]="player.team.logo" [alt]="'belongings '+ player.team.name" class="h-7 w-7 rounded-full object-cover">
                <span>{{player.team.name}}</span>
            </div>
        </div>
    </div>
  </div>
</div>
